
.header_custom table thead > tr > th{
    background-color: #7BD3EA !important;
    color: black !important;
    text-align: center !important;
}

.header_custom table thead > tr > th:nth-child(1){
    background-color: white !important;
}